body 
{
	font-family: Arial, "Times New Roman",Times, serif;
	color: #012d49;
	text-align: center;
	font-size:25px;
}

h2
{
	color:  #c65519;
	padding: 0 20px 20px 20px;
	font-size:30px;
}

table
{
	border:black 4px solid;
	border-top-left-radius: 20px;
  	border-bottom-right-radius: 20px;
	width: 600px;
	line-height: 2;
	text-align:center;
		
}

div
{
	border:black 4px dotted;
	border-top-left-radius: 20px;
  	border-bottom-right-radius: 20px;
	font-size:15px;
	width: 600px;
	line-height: 2;
	text-align:center;
}






